.mt-2 {
    margin-top: 1rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.junbotron {
    margin-top: 12vh;
    width: 80%;
    height: 70vh;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50%;
    text-align: justify;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
label{
    font-size: 1.1rem;
}