html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .messages {
    width: 600px;
    height: 65vh;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: scroll;
  }
   
  .messages_central{
    height: 65vh;
    width: 600px;
  }

  .className{
    text-align: justify;
    width: 89vh;
  }
  .nome{
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .message{
    background-color: #8dcaca;
    border-radius: 0.8rem;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .message_other{
    background-color: #53eeb9;
    border-radius: 0.8rem;
    padding: 0.5rem;
    text-align: right;
    margin-bottom: 1rem;
  }